{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block body %}

</br>

<div class="jumbotron">
  <h1 class="display-4">Hello :)</h1>
  <p class="lead">
  	This is the technical test for Zinobe. A login, register and search system built without any framework. Just pure Python. You can find the code in <a href="https://gitlab.com/dfrojas/zinobe-technical-test" target="_blank">https://gitlab.com/dfrojas/zinobe-technical-test</a> built by Diego Rojas - rojastorrado@gmail.com
  </p>
  <hr class="my-4">
  <p>These buttons ara always displayed intentionally to makes more easy test the behavior when an authenticated user try to access to the login or register pages.</p>

  <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
  <a class="btn btn-warning btn-lg" href="/login" role="button">Log in</a>
</div>


{% endblock %}