{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block body %}

<h1>Log in</h1>

<hr>

{% if errors %}
<div class="alert alert-danger" role="alert">
 	{% for error in errors %}
		<p>{{error.message|capitalize}}</p>
  	{% endfor %}
</div>
{% endif %}

<form action="" method="POST">

	<div class="form-group">

		<div class="form-group">
		    <input type="email" class="form-control" name="email" placeholder="Email">
		</div>

		<div class="form-group">
		    <input type="password" class="form-control" name="password" placeholder="Password">
		</div>

	</div>

	<input type="submit" class="btn btn-primary" value="Log in">

</form>


{% endblock %}