<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Zinobe technical test</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if request.user() %}
      <li class="nav-item active">
        <a class="nav-link" href="/">{{request.user()}} <span class="sr-only">(current)</span></a>
      </li>
      {% else %}
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      {% endif %}

      <li class="nav-item active">
        <a class="nav-link" href="/search">Search Users </a>
      </li>
      
    </ul>
    {% if request.user() is not none %}
    <span class="navbar-text">
      <a href="/logout">Log out</a>
    </span>
    {% endif %}
  </div>
</nav>