{% extends 'base.html' %}

{% block title %} Register {% endblock %}

{% block body %}

<h1>Register</h1>

<hr>

{% if errors %}
<div class="alert alert-danger" role="alert">
 	{% for error in errors %}
		<p>{{error.message|capitalize}}</p>
  	{% endfor %}
</div>
{% endif %}

<form action="" method="POST">

	<div class="form-group">

		<div class="form-group">
		    <input type="text" class="form-control" name="name" placeholder="Full Name">
		</div>

		<div class="form-group">
		    <input type="email" class="form-control" name="email" placeholder="Email">
		</div>

		<div class="form-group">
		    <label>Country</label>
		    <select class="form-control" name="country">
		    	<option>Colombia</option>
		    	{% for country in countries %}
		    	<option value="{{country.Code}}">{{country.Name}}</option>
		    	{% endfor %}
		    </select>
		</div>

		<div class="form-group">
		    <input type="password" class="form-control" name="password" placeholder="Password">
		</div>

		</div>

	<input type="submit">

</form>


{% endblock %}