{% extends 'base.html' %}

{% block title %} Search Users {% endblock %}

{% block body %}

</br>
<div align="center">
	<h1>Search Users</h1>
</div>
</br></br></br>

<form method="GET">

	<div class="form-group">
		<input type="text" name="q" class="form-control" placeholder="Search user by name or email">
	</div>
	<input type="submit" class="btn btn-primary">

</form>

{% if results %}

<h1>Results</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Country</th>
    </tr>
  </thead>
  <tbody>
  	{% for user in results %}
	  	<tr>
	      <td>{{user.name}}</td>
	      <td>{{user.email}}</td>
	      <td>{{user.country}}</td>
	    </tr>
  	{% endfor %}
  </tbody>
</table>


{% endif %}

{% endblock %}